// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Inter";
$font-family-base: $font-family-sans-serif;
$font-weight-medium: 500;
$container-padding-x: 2rem;
$white: #FFFFFF;
$green: #00B262;
$gray: #3E4E4A;
$light-gray: #818181;
$black: #171717;
// body 
$body-bg-dark: $black;
// font sizes
$font-size-base: .75rem;
$font-sizes: ( 1: .938rem, 2: .875rem, 3: .688rem);
// buttons
$btn-font-weight: bold;
$btn-font-size: 1rem;
$btn-padding-x: 2rem!default;
$btn-padding-y: .658rem!default;
$btn-color: $white!default;
// form-control
$input-font-size: 1rem !default;
$input-line-height: 1 !default;
$input-font-weight: 400 !default;
$input-color: $gray !default;
$input-placeholder-color: $gray !default;
$input-bg: $white !default;
$input-border-color: $white !default;
$input-border-radius: .188rem !default;
$input-padding-y: .8rem !default;
$input-padding-x: 1rem !default;
$input-group-addon-color: $white !default;
$input-group-addon-border-color: transparent !default;
$form-feedback-invalid-color: #fd5732 !default;
$form-feedback-font-size: .625rem !default;
$input-box-shadow: none !default;
$input-focus-box-shadow: none !default;
$form-check-input-width: 1.25em;
$form-check-input-bg: $white;
