.accordion-button {
    font-weight: 500;
    font-size: .875rem;
    padding-top: 0;
    &:focus {
        box-shadow: none;
    }
    &::before {
        display: inline-block;
        @include icon-styles;
        content: icon-char(plus);
        color: $white;
        font-size: .688rem;
        background-image: none;
        text-align: end;
        align-self: start;
        padding-right: .625rem;
        padding-top: 2px;
    }
    &[aria-expanded=true] {
        &::before {
            content: icon-char(minus);
            text-align: end;
        }
    }
    &::after {
        background-image: none;
    }
}

.accordion-button:not(.collapsed) {
    color: $white;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.accordion-item {
    background: $black;
    &.accordion-collapse.collapse.show {
        background: $black;
    }
}

.accordion-body {
    font-size: .75rem;
}

.accordion-flush {
    border-color: $green;
}
